@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Aqui es para modificar los text box y el color de la pagina*/
body{
    height: 100vh;
    justify-content: center;
    /*Color de la pagina*/
}
